<div class="pomodoro-timer mt-[100px] flex flex-col items-center gap-y-[75px]">
  <h3 class="text-[35px]">Pomodoro Timer</h3>
  <h2 class="text-[80px] font-light">
    <span class="pomodoro-timer__minutes"></span>:<span
      class="pomodoro-timer__seconds"></span>
  </h2>
  <div class="pomodoro-timer__btn-container flex gap-x-[25px]">
    <button
      class="pomodoro-timer__start cursor-pointer rounded-[2px] border-0 bg-green-600 px-[20px] py-[10px] text-[18px] text-white uppercase">
      start
    </button>
    <button
      class="pomodoro-timer__stop cursor-pointer rounded-[2px] border-0 bg-red-600 px-[20px] py-[10px] text-[18px] text-white uppercase">
      stop
    </button>
    <button
      class="pomodoro-timer__reset cursor-pointer rounded-[2px] border-0 bg-gray-600 px-[20px] py-[10px] text-[18px] text-white uppercase">
      reset
    </button>
  </div>
</div>
