<div class="rock-paper-scissors">
  <h2 class="rock-paper-scissors__heading">Rock Paper Scissors Game</h2>
  <h3 class="rock-paper-scissors__sub-heading">Choose your move:</h3>
  <div class="rock-paper-scissors__btns-container">
    <button data-name="rock" class="rock-paper-scissors__btn">👊</button>
    <button data-name="paper" class="rock-paper-scissors__btn">🖐</button>
    <button data-name="scissors" class="rock-paper-scissors__btn">✌</button>
  </div>
  <p class="rock-paper-scissors__message"></p>
  <h4 class="rock-paper-scissors__score">
    <span>
      Your score:
      <span class="rock-paper-scissors__user-wins"></span>
    </span>
    <span>
      Computer score:
      <span class="rock-paper-scissors__computer-wins"></span>
    </span>
  </h4>
</div>
