<div class="carousel-js relative h-[400px] w-[700px]">
  <div class="carousel-js__container relative h-full w-full overflow-hidden">
    <div
      class="carousel-js__slide absolute flex h-full min-w-full items-center justify-center bg-green-300 transition-transform duration-500">
      Slide 1
    </div>
    <div
      class="carousel-js__slide absolute flex h-full min-w-full items-center justify-center bg-pink-300 transition-transform duration-500">
      Slide 2
    </div>
    <div
      class="carousel-js__slide absolute flex h-full min-w-full items-center justify-center bg-orange-500 transition-transform duration-500">
      Slide 3
    </div>
    <div
      class="carousel-js__slide absolute flex h-full min-w-full items-center justify-center bg-blue-500 transition-transform duration-500">
      Slide 4
    </div>
    <div
      class="carousel-js__slide absolute flex h-full min-w-full items-center justify-center bg-yellow-500 transition-transform duration-500">
      Slide 5
    </div>
  </div>
  <div
    class="carousel-js__prev absolute top-[50%] ml-[10px] translate-y-[-50%] transform cursor-pointer text-[40px] font-bold">
    &lt;
  </div>
  <div
    class="carousel-js__next absolute top-[50%] right-0 mr-[10px] translate-y-[-50%] transform cursor-pointer text-[40px] font-bold">
    &gt;
  </div>
  <ul
    class="carousel-js__nav-container mt-[20px] flex list-none items-center justify-center gap-[10px]"></ul>
</div>
