<div
  class="temperature-converter flex h-screen items-center justify-center bg-linear-to-bl from-[lightgreen] to-[lightblue]">
  <div
    class="flex w-[50%] flex-col items-center rounded-[20px] bg-[#ffffff4d] p-[35px] text-[darkcyan] shadow-2xl">
    <h2>Temperature Converter</h2>
    <form action="" class="mt-[30px] flex w-full flex-col gap-[40px]">
      <div class="form-field flex justify-between text-[20px] font-semibold">
        <label for="celsius">Celcius:</label>
        <input
          type="number"
          name="celcius"
          class="temperature-converter__celcius border-gray-100 bg-[#ffffff4d] p-[7px] text-[18px] outline-0"
          placeholder="Enter Temperature" />
      </div>
      <div class="form-field flex justify-between text-[20px] font-semibold">
        <label for="celsius">Fahrenheit:</label>
        <input
          type="number"
          name="fahrenheit"
          class="temperature-converter__fahrenheit border-gray-100 bg-[#ffffff4d] p-[7px] text-[18px] outline-0"
          placeholder="Enter Temperature" />
      </div>
      <div class="form-field flex justify-between text-[20px] font-semibold">
        <label for="kelvin">Kelvin:</label>
        <input
          name="kelvin"
          type="number"
          class="temperature-converter__kelvin border-gray-100 bg-[#ffffff4d] p-[7px] text-[18px] outline-0"
          placeholder="Enter Temperature" />
      </div>
    </form>
  </div>
</div>
