<div class="bg-scroll-effect h-screen">
  <img class="bg-scroll-effect__img h-full w-full" alt="" />
  <div
    class="bg-scroll-effect__content absolute flex w-full flex-col justify-center bg-white p-[10px] pt-[20px] min-[480px]:p-[100px]">
    <h1 class="mb-[32px] text-[50px] text-gray-800">Welcome to our website</h1>
    <div class="flex flex-col gap-y-[22px] text-[gray]">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit,
        provident veritatis quos dolorum repellendus officia voluptate veniam id
        pariatur, maiores dolore libero nemo repudiandae facere reiciendis
        quisquam? Deleniti, eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit,
        provident veritatis quos dolorum repellendus officia voluptate veniam id
        pariatur, maiores dolore libero nemo repudiandae facere reiciendis
        quisquam? Deleniti, eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit,
        provident veritatis quos dolorum repellendus officia voluptate veniam id
        pariatur, maiores dolore libero nemo repudiandae facere reiciendis
        quisquam? Deleniti, eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit,
        provident veritatis quos dolorum repellendus officia voluptate veniam id
        pariatur, maiores dolore libero nemo repudiandae facere reiciendis
        quisquam? Deleniti, eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit,
        provident veritatis quos dolorum repellendus officia voluptate veniam id
        pariatur, maiores dolore libero nemo repudiandae facere reiciendis
        quisquam? Deleniti, eius.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae suscipit,
        provident veritatis quos dolorum repellendus officia voluptate veniam id
        pariatur, maiores dolore libero nemo repudiandae facere reiciendis
        quisquam? Deleniti, eius.
      </p>
    </div>
  </div>
</div>
